<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 colors="true"
		 convertDeprecationsToExceptions="true"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<file>language-fallback.php</file>
		</include>
	</coverage>
</phpunit>
